/* You can add global styles to this file, and also import other style files */
html {
    padding: 0;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    font-family: futura;
    overflow-x: hidden; 
    background-color: #daebf5;
	}